@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 8px 18px rgba(4, 21, 45, 0.5);
  padding: 18px 24px;
  max-width: 340px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 30px;
}

.container:hover {
  box-shadow: 0 0 25px 8px rgba(0, 255, 255, 0.4);
  transform: translateY(-4px);
}

.imageWrapper {
  width: 100%;
  height: 260px; /* беше 200px */
  overflow: hidden;
  border-radius: 8px; /* по-малък радиус за по-модерен вид */
  margin-bottom: 12px; /* по-малко разстояние под снимката */
  box-shadow: 0 2px 12px rgba(0, 255, 255, 0.1); /* по-лека "рамка" */
  transition: box-shadow 0.3s ease;
}

.imageWrapper:hover {
  box-shadow: 0 0 16px 4px rgba(0, 255, 255, 0.3); /* по-малко агресивен ефект */
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.05);
}

.title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}

.description {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
  color: white;
}

